.NavBar {
    position: absolute;
    z-index: 20;
    visibility: hidden;
    display: list-item;
    background: rgb(82, 144, 147, 0.3);
    color:white;
    width: 50%;
    height: auto;
    left: 25%;
    top: 0;
}

.iconeCentral {
    position: absolute;
    top: 0;
    left: 48.25%;
    width: 3%;
    height: auto;
}

.iconeBarre {
    width: 2em;
    height: auto;
}
