.background_modification_profil {
	background-image: url("../images/fonds/fond_modification_profil.jpg");
}

* {
outline: 0;
}

#block-profil {
	background: rgb(255, 255, 255, 0.88);
}

.title {
	margin-top: 3%;
	text-align: center;
}

.modification_description {
	margin-top: 2%;
	margin-bottom: 2%;
}

#titre_info_supp {
	margin-top: 5%;
	margin-bottom: -2%;
}

#story {
	width: 90%;
}

.champ_info_supp {
}

#titre_rs {
	margin-top: 8%;
}

#image_profil {
	margin-left: 10%;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .9);
	height: 200px;
	width: auto;
    top: 22%;
    right: 74%;
}

.icone_rs {
	height: 50px;
	width: auto;
}

.ligne_bouton-modifier {
	margin-top: 5%;
}

.bouton-modifier {
	background: rgb(0, 0, 0, 0.85);
	color: white;
	border:1px solid #000;
	padding: 3%;
	width: 100%;
	margin-bottom: 10%;
}


input {
	width: 70%;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}