.background {
	background-image: url("../images/fond-body.jpg");
}

* {
outline: 0;
}

.page-profil {
	margin-top: 4%;
}

#block-profil {
	background: rgb(255, 255, 255, 0.95);
	width: 100%;
	padding-left: 0!important;
	padding-right: 0!important;
	height: 100%;
	border-radius: 15px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 2%;
}

#image-banniere {
	width: 100%;
	height: auto;
}

.bandeau-profil {
	background: rgb(0,0,0, 0.7);
    color: white;
    border-radius: 10px;
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    font-family: 'Courier';
}

#image-profil {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .9);
	height: 200px;
	width: auto;
	position: absolute;
    top: 22%;
    right: 74%;
}

#pseudo-info {
	margin-left: 10%;
	font-size: 200%;
}

#promo-info {
	margin-left: 10%;
}

#titre-description {
	font-style: 150%;
}

#ligne-description {
	margin-top: -3%;
}

#info-contact {
	margin-top: 3%;
}

#titre-info-contact-profil {

}

#info-contact-profil {
	margin-top: -2%;
}

.bouton-send-message {
	padding: 7%;
	color: white;
	background-image: linear-gradient(#5E6FE6, #AA6FC8);
	/*background: rgb(255, 255, 255, 0.70);*/
}

.boutons-info-profil-envoyer-message {
	margin-left: -2%;
}

.image-ajouter-ami {
	background-image: url("../images/icones/ajouter-ami.png");
	background-size: 60%;
	width: 55%;
	height: auto;
	background-repeat: no-repeat;
}

.image-ajouter-ami:hover {
	background-image: url("../images/icones/ajouter-ami-color.png");
	background-repeat: no-repeat;
	width: 55%;
	height: auto;
}

.image-envoi-message {
	background-image: url("../images/icones/avion-papier.png");
	background-size: 60%;
	background-repeat: no-repeat;
	width: 55%;
	height: auto;	
}

.image-envoi-message:hover {
	background-image: url("../images/icones/avion-papier-color.png");
	background-repeat: no-repeat;
	width: 50%;
	height: auto;
}

#bandeau-info {
	background-color: #091021;
    color: white;
    border-radius: 10px;
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    font-family: 'Courier';
    opacity: 100%;
}

.liste-info {
	background: rgb(255,255,255, 1);
	padding: 5%;
	text-align: center;
	overflow-y: scroll;
	margin-bottom: 5%
}

.barre-progress-info {
	width: 50%;
    padding-right: 10px;
    font-size: 1rem;
}

.premier-reseau-social {
	margin-left: -50px;
}

.icone-linkedin {
	background-image: url("../images/icones/linkedin.png");
	background-size: 20%;
	background-repeat: no-repeat;
	width: 55%;
	height: auto;	
}

.ligne-reseaux-sociaux {
	margin-top: -10%;
	margin-bottom: -10%;
}

.premier-icones-reseaux-sociaux {
	width: 10%;
	height: auto;
}

.icones-reseaux-sociaux {
	margin-left: 10%;
	width: 10%;
	height: auto;
}