<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>PHP</title>
    <link rel="stylesheet" href="../public/css/filactu.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    


</head>


<body>
    <script type="text/javascript" src="../model/filactu.js"></script>
    <div class="card text-white bg-dark   mb-3 position-fixed w-25" >
        <div class="card-body">

              <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a id="menutout" class="nav-link active textmenu"  data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" >tout</a>
                <a id="menuactu"  class="nav-link textmenu" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">actu</a>
                <a id="menuevent" class="nav-link textmenu" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">event</a>
              </div>
        </div>
      </div>

    <div id="contenu" class="col-10 w-75 offset-3">

        <div class="card    divEvent ">
            <div class="row no-gutters">
                <div class="col-2 alignement_center pt-4">
                    <a href="../view/profil.php"><img src="../public/images/icones/profil.png" class="avatar"></a>
                    
                    <p>user0</p>
                </div>
                <div class="col-10">
                    <div class="card-body">
                        <h5 class="card-title">event</h5>
                        <p class="card-text">le Lorem Ipsum est simplement du faux texte employé dans la
                            composition
                            et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                            l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                            des
                            morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas
                            fait
                            que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
                            sans
                            que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
                            la
                            vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
                            récemment,
                            par son inclusion dans des applications de mise en page de texte, comme Aldus
                            PageMaker.<a href="../view/profil.php"><img src="../public/images/icones/plusblanc.png" class="detail"></a>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                </div>
            </div>
        </div>



        <div class="card mb-12    divEvent ">
            <div class="row no-gutters">
                <div class="col-md-2 alignement_center pt-4">
                    <a href="../view/profil.php"><img src="../public/images/icones/profil.png" class="avatar"></a>
                    <p>user0</p>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">event</h5>
                        <p class="card-text">le Lorem Ipsum est simplement du faux texte employé dans la
                            composition
                            et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                            l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                            des
                            morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas
                            fait
                            que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
                            sans
                            que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
                            la
                            vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
                            récemment,
                            par son inclusion dans des applications de mise en page de texte, comme Aldus
                            PageMaker.<a href="../view/profil.php"><img src="../public/images/icones/plusblanc.png" class="detail"></a>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-12   divEvent ">
            <div class="row no-gutters">
                <div class="col-md-2 alignement_center pt-4">
                    <a href="../view/profil.php"><img src="../public/images/icones/profil.png" class="avatar"></a>
                    <p>user0</p>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">event</h5>
                        <p class="card-text">le Lorem Ipsum est simplement du faux texte employé dans la
                            composition
                            et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                            l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                            des
                            morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas
                            fait
                            que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
                            sans
                            que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
                            la
                            vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
                            récemment,
                            par son inclusion dans des applications de mise en page de texte, comme Aldus
                            PageMaker.<a href="../view/profil.php"><img src="../public/images/icones/plusblanc.png" class="detail"></a>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>




        <div class="card mb-12  divActu">
            <div class="row no-gutters">
                <div class="col-md-2 alignement_center pt-4">
                    <a href="../view/profil.php"><img src="../public/images/icones/profil.png" class="avatar"></a>
                    <p>user0</p>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">actu</h5>
                        <p class="card-text">le Lorem Ipsum est simplement du faux texte employé dans la
                            composition
                            et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                            l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble
                            des
                            morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas
                            fait
                            que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
                            sans
                            que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
                            la
                            vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
                            récemment,
                            par son inclusion dans des applications de mise en page de texte, comme Aldus
                            PageMaker. <a href="../view/profil.php"><img src="../public/images/icones/plusblanc.png" class="detail"></a>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>












</body>

</html>